body
{
    background:url('image 1.png')no-repeat center/contain;
    flex-wrap: wrap;
    padding: 20px;
}
.container
{
    display:flex;
    width:50%;
    height: auto;
    background-color:cadetblue;
    margin: auto;
    padding: 10px 20px;
    border-radius:10px;
    border: 4px solid rgb(0, 32, 128);
    flex-wrap: wrap;
    
}
.About
{
 font-size: medium;
 color:rgb(80, 20, 220);
 margin-bottom: 10px;
 font-weight: bold;
 padding: 5px;
 }
.quote
{
    background-color:burlywood;
    padding: 20px;
    margin: 20px 0;
    border-left:5px solid navy;
    font-style:italic;
    font-weight: bold;
    color: brown;
    
}
.Author
{
    display: flex;
    align-items:center;
    gap: 15px;
    background-color: aqua;
    border-radius: 10px;
    margin-top: 25px;
    font-weight: bold;
    font-style: italic;
    color:darkred;
    
    
}
.Author img
{
    width: 100px;
    height:100px;
    border-radius: 5px;
    margin-right: 10px;
    border: 3px solid darkgoldenrod;
    object-fit:cover;
    color: crimson;
    
    
}

.publisher
{
    display: flex;
    margin-top: 20px;
    padding: 10px;
    background-color: chocolate;
    color:antiquewhite;
    border-radius: 5px;
    align-items: center;
    font-weight: bold;
    border:outset 2px  chartreuse;
    border-radius: 5px;
    margin-left: 20px;
    justify-content: space-between;
    width: 100%;
    
    
}

.price
{
     
    position:fixed;
    right: 400px;
    bottom:65px;
}